  
        
        <footer>
                <div class="container-fluid">
                        <hr>
                        <p>Coded by Abose Ukhun</p>   
                </div> 
        </footer>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>
   </body>
</html> 
 
