<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/styles.css" type="text/css" />
    </head>
    <body>
        
        <nav class="navbar navbar-inverse  navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><span  id="nav-brand"> VotingApp</span></span></a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/"> Home</a></li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                
                     
                </ul>
            </div>
        </nav>
       
