<% include ./partials/header.ejs %>

    <div class="header index-header">
       <div class="container-fluid">
           <h1>
               VotePort
           </h1>
           <p>
               Create custom polls with live results
           </p>
           <a href="/register"><button class="btn btn-success"> Register</button></a>
       </div>
    </div>

    <div class="row container-fluid index-main-content">
        <div class="col-md-4">
            <i class="fa fa-area-chart fa-5x real-time-icon" aria-hidden="true"></i>
            <h2> Real-time</h2>
            <p> Live results show as users make polls. All results are 
            also represented on multiple graph, for easy visualization
            of incoming results data.
            </p>
        </div>
        <div class="col-md-4">
            <i class="fa fa-tablet fa-5x works-globally-icon" aria-hidden="true"></i>
            <h2> Works Globally</h2>
            <p> Properly visible on all devices with a slick adaptive reponsive 
            design, whether users are on smart phones, tablets, laptops, desktops 
            or even VR.
            </p>
        </div>
        <div class="col-md-4">
            <i class="fa fa-facebook-square fa-5x social-integration-icon" aria-hidden="true"></i>
            <h2> Free Social integration</h2>
            <p> Poll is easily shareable to social platforms like facebook for free,
            with local comments to encourage discussions.
            </p>
        </div>
    </div>






<% include ./partials/footer.ejs %>